

/**
* ROOT CONTAINER & SHARED STYLES
*/

#app-root {
    font-family: "Montserrat", sans-serif;
}

#app-root input {
    width: 100%;
    height: 30px
}

#app-root button {
    height: 2em;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;

    font-family: Arial, serif;
    color: rgb(255, 255, 255);

    background: rgb(52, 152, 219);
    text-decoration: none;
    border: none;

    cursor: pointer;
}

#app-root button:hover {
    background: rgb(53, 172, 245);
}

#app-root form > div,
#app-root .cgtn-form-line {
    margin-bottom: 20px;
}

#app-root form label,
#app-root form label{
    display: block;
}

#app-root form label {
    margin-bottom: 10px;
}

#app-root form input {
    border: solid 1px rgb(220, 220, 220);
    padding-left: 5px;
}

#app-root form input {
    border: solid 1px rgb(220, 220, 220);
    padding-left: 5px;
}

#app-root form .auth-error {
    color: firebrick;
    padding-left: 5px;
}

#app-root .cgtn-field-error-message {
    color: rgb(255, 100, 100);
}

#app-root .cgtn-field-error-message.cgtn-hide {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

#app-root .message {
    display: block;
    min-height: 2em;
    font-size: 1.2em;
    font-weight: bold;
    width: 80%;
    margin-bottom: 20px;
}

#app-root .message.info {
    /*background-color: #3498db;*/
    /*color: white;*/

    background-color: white;
    color: #3498db;
}

#app-root .message.error {
    color: firebrick;
    background-color: white;
}

#app-root .message.hide {
    width: 0;
    height: 0;
    display: none;
    overflow: hidden;
}


/**
* LOGIN OR REGISTER
*/

#login-or-register {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
}

#login-or-register.busy {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

#login-or-register > div.login,
#login-or-register > div.register {
    width: 35%;
    padding-left: 10px;
}

#login-or-register > div.or{
    width: 20%;
    text-align: center;
    padding-top: 5%;
    font-size: 3em;
}

#login-or-register input,
#login-or-register label {
    display: block;
}

#login-or-register label {
    margin-bottom: 10px;
}

#login-or-register input {
    border: solid 1px rgb(220, 220, 220);
    padding-left: 5px;
}

#login-or-register .auth-error {
    color: firebrick;
    padding-left: 5px;
}

#login-or-register .auth-error.hide {
    width: 0;
    height: 0;
    display: none;
    overflow: hidden;
}



/**
* BUSY STATE NOTIFIER
*/

#busy-state-notifier {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
}

#busy-state-notifier.hide {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
}

#busy-state-notifier > .bg {
    fill: #000000;
    fill-rule:evenodd;
    fill-opacity: 0.8;

    stroke: none;
}

#busy-state-notifier > .dot {
    fill: #ffffff;
    fill-opacity: 0.8;
}

#busy-state-notifier > .dot.highlight {
    fill: #ffee46;
}

#busy-state-notifier > .message {
    font-size: 3em;
    text-anchor: middle;
    fill: white
}



/**
* UNVALIDATED EMAIL
*/

#pending-email-validation {
    padding: 1px 1px 1px 15px;
}

#pending-email-validation form {
    width: 70%;
}

#pending-email-validation label {
    margin-top: 50px;
}

#pending-email-validation input {
    max-width: 500px;
}
